body {
  background-color: #E6E6E6;
  color: #364156;
  font-family: 'PT Sans', sans-serif;
}

.boardContainer {
  width: 512px;
  margin-top: 100px;
}
.boardCard {
  background: white;
  margin-bottom: 32px;
  padding: 16px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}
.indicator {
  width: 8px;
  margin: -16px 0px -16px -16px;
}
#color0, #color1, #color2 {
  width: 100%;
  height: 100%;
  background: grey;
}

.waitTime {
  font-size: 40px;
}
.info {
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  color: #46659B;
}
.info:nth-of-type(1){
  margin-bottom: 8px;
}
.icon {
  float: right;
  margin-left: 8px;
}
